<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028731755578-73vmjs533m2trik3892rkjv94nnghurn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028731755578-73vmjs533m2trik3892rkjv94nnghurn</string>
	<key>API_KEY</key>
	<string>AIzaSyDfHBr2fKkIhj9Am0KebX4bXtEl85UeD5U</string>
	<key>GCM_SENDER_ID</key>
	<string>1028731755578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vakil-Kalandarov.TKT</string>
	<key>PROJECT_ID</key>
	<string>tktapp-bb510</string>
	<key>STORAGE_BUCKET</key>
	<string>tktapp-bb510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028731755578:ios:537ec92a2b76d02b4c6903</string>
</dict>
</plist>